
AnagramaSpecs/.vs/AnagramaSpecs/DesignTimeBuild/.dtbcache.v2

AnagramaSpecs/.vs/AnagramaSpecs/v16/.suo

AnagramaSpecs/AnagramaSpecs/obj/

AnagramaSpecs/AnagramaSpecs.sln.DotSettings.user

AnagramaSpecs/AnagramaSpecs/bin/Debug/netcoreapp3.1/
